# Comment line immediately above ownership line is reserved for related other information. Please be careful while editing.
#ECCN:Open Source
#GUSINFO:
*                                @jvalaiyapathy

# Per-area owners can be added here as the project grows. For example:
# /extensions/sf-lsp/             @jvalaiyapathy
# /extensions/sf-slack/           @jvalaiyapathy
